In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [6]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [12]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [14]:
import pandas as pd

In [16]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [97]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name":"Cabrera High School", "type": "Charter"},
                    {"School ID": 7, "school_name":"Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name":"Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name":"Prena High School", "type": "Charter"},
                    {"School ID": 10, "school_name":"Wright High School", "type": "Charter"},
                    {"School ID": 11, "school_name":"Rodrequez High School", "type": "District"},
                    {"School ID": 12, "school_name":"Johnson High School", "type": "Districtx"},
                    {"School ID": 13, "school_name":"Ford High School", "type": "District"},
                    {"School ID": 14, "school_name":"Thomas High School", "type": "Charter"}]

In [42]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [47]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [69]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [80]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [81]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [83]:
#Convert the dictionary high_schools_dict to a DataFrame.

dict_df = pd.DataFrame()

In [85]:
dict_df["High School District"] = high_schools_dict

In [87]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [88]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [89]:
school_df.values

array([[0, 'Huang High    School', 'District', 0, 'Huang High School',
        'District'],
       [1, 'Figueroa High School', 'District', 1, 'Figueroa High School',
        'District'],
       [2, 'Shelton High School', 'Charter', 2, 'Shelton High School',
        'Charter'],
       [3, 'Hernandez High School', 'District', 3,
        'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter', 4, 'Griffin High School',
        'Charter']], dtype=object)

In [98]:
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [104]:

pwd

'/Users/kamrulkhan/Desktop/Class'

In [105]:
ls

 pandas_practice.ipynb            From Slack/
-School_District_Analysis/        Module 2/
Activities/                       Module 2 do not upload/
Activities_Lesson01_Required.zip  stat_equations.png
Chess.xlsm

In [108]:
cd -School_District_Analysis/

UsageError: option -S not recognized ( allowed: "qb" )